#map-canvas, .map-canvas-user {
    height: 265px;
    width: 265px;
    margin: 0px;
    padding: 0px
}

.event-buttons-wrapper {
    width: 100%;
    text-align: right;
}

.event-buttons-wrapper a.btn {
    float: none;
}

.event-group-date {
    background-color: #F8F8F8;
    text-transform: uppercase;
}

.button-favourites,
.button-trash {
    text-align: left;
    padding: 5px 10px;
}

#friends-name {
    margin-bottom: 20px;
}

.no-events-row.shown {
    display: block;
}

.no-events-row.hidden {
    display: none;
}

#event_modal iframe {
    width: 100%;
}

#event_modal .is-calendar-shown,
#event_modal .is-favourite-shown,
#event_modal .is-my-shown {
    display: inline;
}

#event_modal .in-calendar-hidden,
#event_modal .is-favourite-hidden,
#event_modal .is-my-hidden {
    display: none;
}

#event_modal .nav-tabs {
    margin-bottom: 10px;
}

#event_modal .map-holder {
    min-height: 100px;
    background-image: url('/assets/img/icons/spinner.gif');
    background-repeat: no-repeat;
    background-position: 45% 20px;
}

#event_modal .yelp-content-holder .rating,
#event_modal .yelp-content-holder .reviews-count {
    display: inline-block;
}

#event_modal .yelp-content-holder .categories ul,
#event_modal .yelp-content-holder .categories ul li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#event_modal .yelp-content-holder .image {
    margin-bottom: 15px;
}

#event_modal .yelp-content-holder .image img {
    width: 100px;
    height: 100px;
}

#event_modal .yelp-content-holder .snippet img {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}

#event_modal .yelp-content-holder .snippet p {
    float: left;
    display: inline-block;
    margin-bottom: 0;
    width: 85%;
}

#event_modal .friend-related-with-event {
    margin-bottom: 15px;
}

#event_modal .friend-related-with-event input {
    margin-right: 10px;
}

#event_modal .friend-related-with-event img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#event_modal .friend-related-with-event label {
    font-weight: normal;
}

#event_modal .invite-icon {
    margin-right: 9px;
}

.invite-icon-green {
    color: #5cb85c;
}

.invite-icon-blue {
    color: #428bca;
}

.invite-icon-orange {
    color: #f0ad4e
}

.invite-icon-orange.glyphicon-arrow-up,
.invite-icon-blue.glyphicon-arrow-down {
    -webkit-transform: rotate(45deg); /* Safari */
    -moz-transform: rotate(45deg); /* Firefox */
    -ms-transform: rotate(45deg); /* IE */
    -o-transform: rotate(45deg); /* Opera */
}

.invite-icon-red {
    color: #d2322d;
}

#user_added_event_form .errors {
    display: none;
}

#user_added_event_form .row {
    margin-bottom: 15px;
}

#user_added_event_form .save-button {
    margin-right: 15px;
}