#map-canvas, .map-canvas-user {
    height: 265px;
    width: 265px;
    margin: 0px;
    padding: 0px
}

.event-buttons-wrapper {
    width: 100%;
    text-align: right;
}

.event-buttons-wrapper a.btn {
    float: none;
}

.event-group-date {
    background-color: #F8F8F8;
    text-transform: uppercase;
}

.button-favourites,
.button-trash {
    text-align: left;
    padding: 5px 10px;
}

#friends-name {
    margin-bottom: 20px;
}

.no-events-row.shown {
    display: block;
}

.no-events-row.hidden {
    display: none;
}

#user_added_event_form .errors {
    display: none;
}

#user_added_event_form .row {
    margin-bottom: 15px;
}

#user_added_event_form .save-button {
    margin-right: 15px;
}

/*top venues widget*/
.widget-top-venues {
    margin-top: 20px;
}
@media (min-width: 992px) {
    .widget-top-venues .row.venue {
        margin-bottom: 20px;
    }

    .widget-top-venues .list-group-item {
        padding-bottom: 20px;
        padding-top: 30px;
    }
}

