#homepage_timer {
    color: #3276b1;
}

.signin-form {
    margin: 0 auto;
}

.carousel .item {
    background-color: #777;
}

.carousel-inner > .item > img {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.carousel-caption {
    bottom: auto;
}
@media (max-width: 768px) {
    .carousel-caption{
        text-align: center;
        width: 100%;
        left: 0;
        right: auto;
        padding: 0;
        margin: 0;
    }
    .carousel-caption h4, .h4,  .carousel-caption h3, .h3{
        margin-top: 10px;
    }
    .carousel-caption h3, .h3 {
        font-size: 22px;
    }
    .carousel-control{
        z-index: 11;
    }
}
/*end carousel*/
.jumbotron-about {
    opacity: .80;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}