ul.nav li.dropdown:hover ul.dropdown-menu{display:block;}
h1 a{display: inline-block;  height: 80px; padding: 20px 0 0 90px; color: black;padding: 20px 0 0 120px;}
h1 a:hover{text-decoration: none; color:black;}
h2 a{color:black;}
h1,h2,h3{font-family:georgia, serif;}
#footer {  position: absolute;  bottom: 0;  width: 100%;  height: 60px;  background-color: #f5f5f5;}
#map-canvas, .map-canvas-user {height:265px; width: 265px;margin: 0px; padding: 0px}

#homepage_timer {
	color: #3276b1;
}

.datepicker {
	z-index: 1051;
}

.carousel-caption {
    top: 0;
	left: 0;
	text-align: left;
    bottom: auto;
}

.navbar-fixed-top {
	position: static;
	margin-bottom: 0px;
}

.jumbotron-about {
    opacity: .7;
	margin-top: 25px;
	padding-top: 20px;
	padding-bottom: 10px;

}

.event-buttons-wrapper {
	width: 100%;
	text-align: right;
}

.event-buttons-wrapper a.btn {
	float: none;
}

.event-group-date {
	text-transform: uppercase;
}

.button-favourites,
.button-trash {
	text-align: left;
	padding: 5px 10px;
}

#friends-name {
	margin-bottom: 20px;
}

.no-events-row.shown {
	display: block;
}

.no-events-row.hidden {
	display: none;
}

#event_modal iframe {
	width: 100%;
}

#event_modal .is-calendar-shown,
#event_modal .is-favourite-shown,
#event_modal .is-my-shown{
	display: inline;
}

#event_modal .in-calendar-hidden,
#event_modal .is-favourite-hidden,
#event_modal .is-my-hidden {
	display: none;
}

#event_modal .nav-tabs {
	margin-bottom: 10px;
}

#event_modal .map-holder {
	min-height: 100px;
	background-image: url('/assets/img/icons/spinner.gif');
	background-repeat: no-repeat;
	background-position: 45% 20px;
}

#event_modal .yelp-content-holder .rating,
#event_modal .yelp-content-holder .reviews-count {
	display: inline-block;
}


#event_modal .yelp-content-holder .categories ul,
#event_modal .yelp-content-holder .categories ul li {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#event_modal .yelp-content-holder .image {
	margin-bottom: 15px;
}

#event_modal .yelp-content-holder .image img {
	width: 100px;
	height: 100px;
}

#event_modal .yelp-content-holder .snippet img {
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 10px;
}

#event_modal .yelp-content-holder .snippet p {
	float: left;
	display: inline-block;
	margin-bottom: 0;
	width: 85%;
}

#event_modal .friend-you-can-invite {
	margin-bottom: 15px;
}

#event_modal .friend-you-can-invite input {
	margin-right: 10px;
}

#event_modal .friend-you-can-invite img {
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

#event_modal .friend-you-can-invite label {
	font-weight: normal;
}

.form_error{
	color: red;
	font-style: italic;
}

#user_added_event_form .row {
	margin-bottom: 15px;
}

#user_added_event_form .save-button {
	margin-right: 15px;
}

/* Event pages - end */


/* Friends pages - start */
.page-friends .panel .panel-body {
	position: relative;
}

.page-friends .left-section {
	float: left;
	margin-right: 15px;
}

.page-friends .right-section {
	float: left;
}

.page-friends .panel .friend-pic img {
	width: 60px;
	height: 60px;
}

.page-friends .panel .button-wrapper {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.page-friends .panel .button-wrapper .btn-danger {
	margin-right: 5px;
}

.page-friends #people-you-may-know-block .dude-pic img {
	width: 40px;
	height: 40px;
}

.page-friends #people-you-may-know-block .row {
	margin-bottom: 20px;
}

.page-friends #people-you-may-know-block .glyphicon-remove {
	font-size: 12px;
	color: #CCCCCC;
	position: absolute;
	top: 0;
	right: 20px;
}

#locations-left-block ul,
#locations-left-block ul li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#locations-left-block .location-hidden {
	display: none;
}

.user-avatar{
    margin-top: 20px;
}
.profile-options-btn{
    margin-bottom: 20px;
}